<div class="max-w-3xl w-full mx-auto px-6 py-12 text-gray-900">
  <h1 class="font-bold text-4xl">
    Tailwind CSS for Ember Power Select
  </h1>

  <a
    class="mt-2 inline-block"
    href="https://github.com/josemarluedke/tailwindcss-ember-power-select"
    target="_blank"
    rel="noopener noreferrer"
  >
    View on GitHub
  </a>

  <p class="mt-4">
    <a
      class="mt-2 inline-block"
      href="https://github.com/cibernox/ember-power-select"
      target="_blank"
      rel="noopener noreferrer"
    >
      Ember Power Select
    </a> is a
    powerful Ember addon for working with selects. This is a Tailwind CSS plugin
    for styling both
    <span class="p-1 bg-gray-200 rounded-sm">{{"<PowerSelect>"}}</span>,
    <span class="p-1 bg-gray-200 rounded-sm">{{"<PowerSelectMultiple>"}}</span>
    and all the options related to these.
    Below you can see all the possible variations of Power Select and the styles we applied.
  </p>

  <hr class="my-8">

  <div>
    <PowerSelectExamples />
  </div>

  {{outlet}}
</div>
