<button
  type="button"
  {{on "click" this.toggleMode}}
  class="ml-8 outline-none"
>
  {{#if this.isDarkModeEnabled}}
    Switch to Light Mode
  {{else}}
    Switch to Dark Mode
  {{/if}}
</button>
